.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    flex: calc(100% / 3 - 48px);
}

.gallery-link {
    display: block;
    text-decoration: none;
}

.gallery-image {
    max-width: 100%;
    height: auto;
}